{% if navigation %}
  <ul role="navigation">
    {% for nav in navigation %}
      <li{% if nav.selected %} class="active"{% endif %}>
        <a href="{{ nav.link }}" title="{{ nav.navigation_title }}"{% if nav.nofollow %} rel="nofollow"{% endif %}>
          {{ nav.navigation_title|raw }}
        </a>
        {{ nav.children|raw }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
